body {
	background: #eee !important;
	font-family: Helvetica Neue;
	
}

.wrapper {	
	margin-top: 80px;
    margin-bottom: 80px;
}

#title{
    font-family: Helvetica Neue;
    font-weight: 500;
    font-size: 20pt;
    text-align: center;
}

#req{
	display: none;
}

#message{
    font-family: Helvetica Neue;
    font-weight: 500;
    font-size: 20pt;
    text-align: center;
    margin-top: 50pt;
}

#omer {
	display: none;
	width: 300px;
	margin: 0px auto;
}

#countScreen{
    font-family: Helvetica Neue;
    font-weight: 500;
    font-size: 20pt;
    text-align: center;
    margin-top: 50pt;
}


#login{
    margin-top: 10px; 
    margin-bottom: 5px;
}

#logout{
	display: none;
	width: auto;
	margin-right: auto;
	margin-left: auto;
}

.form-control{
    margin-top: 10px; 
    margin-bottom: 5px;
}

.form-signin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);  

  .form-signin-heading,
	.checkbox {
	  margin-bottom: 30px;
	}

	.form-control {
	  position: relative;
	  font-size: 16px;
	  height: auto;
	  padding: 10px;
	}

	input[type="text"] {
	  margin-bottom: -1px;
	  border-bottom-left-radius: 0;
	  border-bottom-right-radius: 0;
	}

	input[type="password"] {
	  margin-bottom: 20px;
	  border-top-left-radius: 0;
	  border-top-right-radius: 0;
	}
    
    .btn btn-lg btn-primary btn-block{
        width: 50px;
        display: inline;
    }
}
